* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.menu {
    margin: 0 auto;
}

ul {
    display: flex;
}

li {
    margin-left: 25px;
    
}

form {
    margin: 50px auto;
}